# Folder config file
Desktop.ini
Dockerfile


# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db


# Recycle Bin used on file shares
$RECYCLE.BIN/


# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.sys
*.vhd


# Windows shortcuts
*.lnk


# jekyll
#.sass-cache
#.jekyll-cache
#.jekyll-metadata

# bundler
*.gem
vendor/
.bundle/
Gemfile.lock


# python
*.whl


# npm
node_modules/
package-lock.json


# lighthouse
*.report.html
gha-creds-*.json


# build
#.env
#.github
#.devcontainer/
#.devcontainer.json


# action
#action.yml
action.changelog.md


# _sass
_sass/@primer/css/**/*.md
